@if (product != null)
{
    <tr>
        <NavLink class="nav-link" href="@($"product/{product.Id}")">
            <td>@product.Id</td>
        </NavLink>
        <td>@product.Name</td>
        <td>@product.Brand</td>
        <td>@product.Price</td>

    </tr>
}

@code {
    [Parameter]
    public Product product { get; set; }
}
